<h1>Listing workshops</h1>

<table id="" class="table table-striped table-hover table-bordered datatable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Description</th>
      <th>Type</th>
      <th>Keywords</th>
      <th>Resource People</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.title %></td>
        <td><%= workshop.level %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.category %></td>
        <td><%= workshop.keywords %></td>
        <td>
          <%= workshop.workshopconductorship.inspect %>
          <%= link_to 'Add Resourceperson', allresourcepeople_path(workshop), :remote=>true %>
        </td>
        <td></td>
        <td>
          <%= link_to 'Show', workshop %>
          <%= link_to 'Edit', edit_workshop_path(workshop) %>
          <%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Workshop', new_workshop_path %>
<%= link_to "New Resourceperson", new_participant_path %>


<br>
<br>
<br>
<br>
<br>
