
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<hr>

<p>Detailed information on all workshops is available on this page: <br>
<a href="http://www.sccs-bng.org/allworkshops/">http://www.sccs-bng.org/allworkshops/</a></p>

<p>Keep in mind that you can only register for one workshop/day.</p>

<p>Long workshops (9:00 - 16:00) will be conducted on Day 1, September 8. And short workshops (14:00 - 16:30) will be conducted on the remaining three days.</p>


<div class="well text-danger">BEWARE! You cannot make any changes after clicking on ‘Register’ for a given workshop. </div>
<hr>
<style>
  h5 {
    text-align: center;
  }
  .wcard {
    padding: 10px;
    border: 1px solid #f0f0f0;
  }
</style>
<div id="listall">
<% if notice %>
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p><%= notice %></p>
</div>
<% end %>
<% if current_user.ticketless? %>
  <% controller.redirect_to root_path %>
<% end %>
<% @test_ids = [120,142,7,10,11,143] %>
<% @test_ids = [] %>
<% unless @test_ids.include? current_user.id or @conference.workshop_registration_flag %>
  <% controller.redirect_to root_path %>
<% end %>
<h4>Registered for :</h4>
<% @registered.each do |r| %>
  <%= r.workshop.title %> <br>
<% end %>
</div>

<% @daysfilled = @daysfilled.uniq %>
<% @alldays = [1,2,3,4] - @daysfilled %>
<% if @alldays == [] or @daysfilled == [] %>
  <% if daysfilled == [] %>
    <p>You have completed registering for workshops. They will now appear on your dashboard as soon as you login. </p>

    <p>Clicking on a workshop link will take you to that workshop space, where the workshop organisers have the option of uploading resource materials. Remember to keep checking this space regularly until the conference.</p>
  <% end %>
<% else %>
<hr>
You can still register for workshops on the following days: <br>
  <% @alldays.each do |d| %>
    Day <%= d %> &nbsp;&nbsp;
  <% end %>
<% end %>
<hr>
<br>
<h4>Register for workshops</h4>

<h5>Day 1</h5>
<% @day1.each do |w| %>
  <div class="wcard col-lg-4">
    <strong><%= w.title %></strong>
    <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.category %> • <%= w.maximum_seats %> Seats • <%= w.duration %></div>
    <%= link_to 'Register', workshop_register_path(w.id, current_user.id), :method=> :post, :title=>'You cannot make changes for this day after you click this link.', :class=>'btn btn-sm btn-danger' unless @daysfilled.include? 1 %>
    <br><small><%= w.maximum_seats.to_i - w.current_seats.to_i %> seats left at <%= Time.current.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %></small>
  </div>
<% end %>

<div class="clear" style="clear:both;"></div>
<hr>
<h5>Day 2</h5>
<% @day2.each do |w| %>
  <div class="wcard col-lg-4">
    <strong><%= w.title %></strong>
    <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.category %> • <%= w.maximum_seats %> Seats • <%= w.duration %></div>
    <%= link_to 'Register', workshop_register_path(w.id, current_user.id), :method=> :post, :title=>'You cannot make changes for this day after you click this link.', :class=>'btn btn-sm btn-danger'  unless @daysfilled.include? 2 %>
    <br><small><%= w.maximum_seats.to_i - w.current_seats.to_i %> seats left at <%= Time.current.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %></small>
    <br>
  </div>
<% end %>

<div class="clear" style="clear:both;"></div>
<hr>
<h5>Day 3</h5>
<% @day3.each do |w| %>
  <div class="wcard col-lg-4">
    <strong><%= w.title %></strong>
    <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.category %> • <%= w.maximum_seats %> Seats • <%= w.duration %></div>
    <%= link_to 'Register', workshop_register_path(w.id, current_user.id), :method=> :post, :title=>'You cannot make changes for this day after you click this link.', :class=>'btn btn-sm btn-danger'  unless @daysfilled.include? 3 %>
    <br><small><%= w.maximum_seats.to_i - w.current_seats.to_i %> seats left at <%= Time.current.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %></small>
    <br>
  </div>
<% end %>

<div class="clear" style="clear:both;"></div>
<hr>
<h5>Day 4</h5>
<% @day4.each do |w| %>
  <div class="wcard col-lg-4">
    <strong><%= w.title %></strong>
    <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.category %> • <%= w.maximum_seats %> Seats • <%= w.duration %></div>
    <%= link_to 'Register', workshop_register_path(w.id, current_user.id), :method=> :post, :title=>'You cannot make changes for this day after you click this link.', :class=>'btn btn-sm btn-danger'  unless @daysfilled.include? 4 %>
    <br><small><%= w.maximum_seats.to_i - w.current_seats.to_i %> seats left at <%= Time.current.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %></small>
    <br>
  </div>
<% end %>

<div class="clear" style="clear:both;"></div>

<br>
<br>
<br>


<script>
  $(document).ready(function() {
    var w = $('.wcard');
    var wht = 0;
    $.each(w, function(index, val) {
      if ( $(this).height() > wht ) { wht = $(this).height() + 50}
    });
    w.css('height', wht+'px');
  });
</script>