<br>
<br>
<br>

<h1>Workshops 2015</h1>

<br>
<hr>
<p>This page is being updated. So the information here is bound to change until we open workshop registrations.</p>

<% @workshops.each do |w| %>

<div class="workshopcard">
<hr>
<br>
  <h4><%= w.title %></h4>
  <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.keywords %> • <%= w.maximum_seats %> Seats • <%= w.duration %> • Starts at <%= w.time %> on DAY <%= w.day %> </div>

  <p><%= raw w.description %></p>
</div>

<% end %>

<br>
<br>
<br>