<br>
<br>
<br>

<h1>Workshops 2015</h1>

<br>
<hr>

<p>You can filter workshops by Day (1-4) and Level (Basic/Advanced). Long workshops (9:00 - 16:00) will be conducted on Day 1, September 8. And short workshops (14:00 - 16:30) will be conducted on the remaining three days.</p>

<p>Keep in mind that you can only register for one workshop/day.</p>

<p>Workshop registration is scheduled to open on August 8, 2015. Spots will be filled on a first-come-first-served basis. </p>

<p>Some of the information on the page might change before workshop registration opens, so we apologise in advance for any inconvenience caused.</p>

<div class="welly">
  FILTERS :
  <div class="label btn btn-small" data-target="day1"><a href="#">Day 1</a></div>
  <div class="label btn btn-small" data-target="day2"><a href="#">Day 2</a></div>
  <div class="label btn btn-small" data-target="day3"><a href="#">Day 3</a></div>
  <div class="label btn btn-small" data-target="day4"><a href="#">Day 4</a></div>

  <% @levels = [] %>
  <% @workshops.each do |w| %>
  <% @levels.push w.level.downcase %>
  <% end %>
  <% @levels = @levels.uniq %>
  <% @levels.each do |l| %>
    <div class="label btn btn-small" data-target="<%= l.strip %>"><a href="#"><%= l %></a></div>
  <% end %>

  <div class="label btn btn-small" data-target="workshopcard"><a href="#">All</a></div>
</div>

<% @workshops.each do |w| %>

<div class="workshopcard day<%= w.day %> <%= w.level.downcase.strip %>">
<hr>
<br>
  <h4><%= link_to w.title, workshop_path(w) %></h4>
  <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.category %> • <%= w.maximum_seats %> Seats • <%= w.duration %> • Starts at <%= w.time %> on DAY <%= w.day %> </div>

  <p><%= raw w.description %></p>
</div>

<% end %>

<script>
  $('.welly .btn a').click(function(e){ e.preventDefault() });
  $('.welly .btn').click(function(){
    $('.workshopcard').hide();
    var target = $(this).attr('data-target');
    $('.'+target).show();
  });
</script>

<br>
<br>
<br>