<br>
<br>
<br>

<h1>Workshops 2015</h1>

<br>
<hr>
<p>This page is being updated. So the information here is bound to change until we open workshop registrations.</p>

<div class="welly">
  FILTERS :
  <div class="label btn btn-small" data-target="day1"><a href="#">Day 1</a></div>
  <div class="label btn btn-small" data-target="day2"><a href="#">Day 2</a></div>
  <div class="label btn btn-small" data-target="day3"><a href="#">Day 3</a></div>
  <div class="label btn btn-small" data-target="day4"><a href="#">Day 4</a></div>

  <% @workshops.each do |w| %>
    <div class="label btn btn-small" data-target="<%= w.level %>"><a href="#"><%= w.level %></a></div>
  <% end %>

  <div class="label btn btn-small" data-target="workshopcard"><a href="#">All</a></div>
</div>

<% @workshops.each do |w| %>

<div class="workshopcard day<%= w.day %> <%= w.level %>">
<hr>
<br>
  <h4><%= w.title %></h4>
  <div class="well"><strong><%= w.workshopconductorship.first.user.full_name unless w.workshopconductorship.empty? %></strong> <%= '•' unless w.workshopconductorship.empty? %> <%= w.level %> • <%= w.keywords %> • <%= w.maximum_seats %> Seats • <%= w.duration %> • Starts at <%= w.time %> on DAY <%= w.day %> </div>

  <p><%= raw w.description %></p>
</div>

<% end %>

<script>
  $('.welly .btn a').click(function(e){ e.preventDefault() });
  $('.welly .btn').click(function(){
    $('.workshopcard').hide();
    var target = $(this).attr('data-target');
    $('.'+target).show();
  });
</script>

<br>
<br>
<br>