<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workshop.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @workshop.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @workshop.type %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @workshop.keywords %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
