<br>
<br>
<br>

  <h4><%= @workshop.title %></h4>
  <div class="well">
  <strong>
  <% unless @workshop.workshopconductorship.empty? %>
    <% @workshop.workshopconductorship.each do |wc|  %>
      <%= wc.user.full_name %> &nbsp;
    <% end %>
  <% end %>
  </strong>

  <%= @workshop.level %> • <%= @workshop.keywords %> • <%= @workshop.maximum_seats %> Seats • <%= @workshop.duration %> • Starts at <%= @workshop.time %> on DAY <%= @workshop.day %> </div>

  <%= raw @workshop.description %>
  <hr>
  <br>
  <% if user_signed_in? %>
  <% if can? :update, @workshop %>
    <%= render 'resourceperson' %>
  <% end %>
  <% end %>
</div>

<br>
<br>
<br>
