<br>
<br>
<br>

<h3><%= @workshop.title %></h3>


<hr>
  <%= @workshop.level %> • <%= @workshop.category %> • <%= @workshop.keywords %>
<hr>

<p>
  <%= @workshop.description %>
</p>

<% if current_user.admin? or current_user.resourceperson? %>
  <%= render 'resourceperson' %>
<% end %>

<br>
<br>
<br>
