<br>
<br>
<br>

  <h4><%= @workshop.title %></h4>
  <div class="well"><strong><%= @workshop.workshopconductorship.first.user.full_name unless @workshop.workshopconductorship.empty? %></strong> <%= @workshop.level %> • <%= @workshop.keywords %> • <%= @workshop.maximum_seats %> Seats • <%= @workshop.duration %> • Starts at <%= @workshop.time %> on DAY <%= @workshop.day %> </div>

  <%= raw @workshop.description %>
</div>

<% if current_user.admin? or current_user.resourceperson? %>
  <%= render 'resourceperson' %>
<% end %>

<br>
<br>
<br>
