<br>
<br>
<br>

  <h4><%= w.title %></h4>
  <div class="well"><strong><%= w.workshopconductorship.first.user.full_name %></strong> • <%= w.level %> • <%= w.keywords %> • <%= w.maximum_seats %> Seats • <%= w.duration %> long • Starts at <%= w.time %> on DAY <%= w.day %> </div>

  <p><%= w.description %></p>
</div>

<% if current_user.admin? or current_user.resourceperson? %>
  <%= render 'resourceperson' %>
<% end %>

<br>
<br>
<br>
