<h1>Overview</h1>
<br>
<hr>

<div class="row">
	<div class="col-lg-7">
		<h6>STATUS</h6>
		<hr>
		<%= raw '<p>Hang in there, you are nearly done with registration!</p><p>Enter your ticket number and wait for a few minutes. A green checked box will appear once validation is complete.</p>' if current_user.ticketless? %>

		<%= raw '<p>Foreign participants will also need to upload a scanned copy of their passports. </p>' if current_user.passportless? %>

		<% if current_user.abstractless? %>
			<p>
				<% unless (current_user.passportless? or current_user.ticketless?) %>
					<%# link_to "Upload an Abstract", new_submission_path %>
					Abstract Submission is closed.
				<% end %>
			</p>
		<% else %>
			<p>
				<%= link_to "View Abstract", submission_path(current_user.submission.id) %> <br> <br>
				<%= link_to "Edit Abstract", edit_submission_path(current_user.submission.id) if current_user.submission.editable %>
			</p>
		<% end %>

		<hr>
		Workshops
		<%= @applicantworkshops.inspect %>
		<br>
		<%= link_to 'Register for workshops', workshops_list_path %>

	</div>
	<div class="col-lg-5">
		<% success = '<span class="label label-success">&#10004;</span>' %>
		<% notdone = '<span class="label label-danger">NOT DONE</span>' %>
		<h6>CHECKLIST</h5>
			<br>
		<ul class="list-group">
		  <li class="list-group-item">
		    <%= raw notdone if current_user.ticketless? %>
		    <%= raw success unless current_user.ticketless? %>
		    Enter Doattend Ticket
		  </li>
		  <% unless current_user.nationality == 'IN' %>
		  <li class="list-group-item">
		    <%= raw notdone if current_user.passportless? %>
		    <%= raw success unless current_user.passportless? %>
		    Upload passport scan
		    <% unless current_user.passportless? %>
		    <a href="<%= current_user.passportscan %>" target="_blank">View</a>
		    <% end %>
		  </li>
		  <% end %>
		  <li class="list-group-item">
		    <%= raw success unless current_user.abstractless? %>
		    <%= raw notdone if current_user.abstractless? %>
		    Submit Abstract
		  </li>
		</ul>
	</div>
</div>

<%# current_user.inspect %>