<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <p class='text-muted'>Anything you enter here will appear below the title in the timeline.</p>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <p class='text-muted'>Make sure the start date is in the format of DD/MM/YY. If you leave this blank, they do not show up on the visualization on the front page.</p>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <p class='text-muted'>Make sure the end date is in the format of DD/MM/YY. If you leave this blank, they do not show up on the visualization on the front page.</p>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
