<div class="page-header">
	<h2>Register for SCCS Bengaluru 2015</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="row">
 	 <div class="col-lg-6">
	
		<p>You need to register and create an account on our website in order to attend the conference, register for workshops and submit abstracts. </p>

		<ul>
			<li>Complete the form below.</li>
			<li>You will receive a confirmation email to set up your account on our website. Click on the link and follow the instructions to pay the registration fees online through the DoAttend payment gateway that you will be directed to. You can make the payment using credit, debit or cash cards, as well as from online bank accounts. NOTE: Please use the same email ID that you registered on the SCCS website.</li>
			<li>Once you have made the payment, you will receive two emails from DoAttend at the email ID you specified. One email will contain the receipt for the ticket you purchased. <br>
			The other email  will contain your ticket as an email attachment and a link to a page where you can login to your account on the SCCS website. <br> 
			<%= image_tag 'ticket.jpg' %>
			<span class="text-muted">The ticket number for the ticket above is 553911</span>
			<hr>
			Please check your 'Spam' folder, incase you are unable to locate the email from DoAttend in your 'Inbox'.</li>
			<li>After logging in to your SCCS account, you will be prompted to enter your DoAttend ticket number (provided on the top-right of the ticket, below the 'ADMIT ONE' box). You can now attend the conference. You can also submit an abstract and register for workshops, once abstract submission and workshop registrations open.</li>
		</ul>

 	 	<p class="text-warning">NOTE: It is mandatory to bring a copy of your ticket to complete registration formalities at the conference venue. Early-bird online registration (INR 2500) is open until 30th May 2015, and regular online registration (INR 3000) until 15th August 2015. We will also have a counter open for spot-registration (INR 3500) at the venue during conference days</p>
	</div>

	  <ul class="list-group col-lg-6">
	  <li class="list-group-item">
	  	<h5 class="text-success"><strong>QUICK STEPS</strong></h5>
	  </li>
	  <li class="list-group-item">
	    <strong class="text-primary">1
</strong> &nbsp;
	    Complete the form below
	  </li>
	  <li class="list-group-item">
	    <strong class="text-primary">2</strong> &nbsp;
	    Click the confirmation link in the email sent to you.
	  </li>
	  <li class="list-group-item">
	    <strong class="text-primary">3</strong> &nbsp;
	    Register and pay at doattend.
	  </li>
	  <li class="list-group-item">
	    <strong class="text-primary">4</strong> &nbsp;
	    Login to sccs-bng.org and paste your ticket number from doattend.
	  </li>
	</ul>
 </div>

  <hr>

<div class="row">
	<div class="col-lg-6">
		
		  <div class="page-header">
			<h4>Basic Information</h4>
		</div>

		  <div class="form-group">
		  	<%= f.label :first_name %> <br>
		  	<%= f.text_field :first_name, placeholder: "  First name as in passport", class: 'form-control', required: true %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :middle_name %> <br>
		  	<%= f.text_field :middle_name, placeholder: " Middle name as in passport", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :last_name %> <br>
		  	<%= f.text_field :last_name, placeholder: " Last name as in passport", class: 'form-control', required: true  %>
		  </div>

		  <div class="form-group">
		  	
			 <label>Gender</label>
		  	<div class="row">
		  		<div class="radio col-lg-3">
			  		<label>
			  		<%= f.radio_button :gender, 'Male', :checked => true %>
					Male
			  		</label>
			  	</div>
			  	<div class="radio col-lg-3">
			  		<label>
			  	 	<%= f.radio_button :gender, 'Female' %>
			  	 	Female
			  		</label>
			  	</div>
			  	<div class="radio col-lg-3">
			  		<label>
			  		<%= f.radio_button :gender, 'Other' %>
			  		Other
			  		</label>
			  	</div>
		  	</div> 

		  	 
		  </div>

		  <div class="form-group">
		  	<%= f.label :phone %>
		  	<p class="text-muted">
		  		 Your phone number with ISD and STD codes
		  	</p>
		  	<%= f.text_field :phone, placeholder: " Complete phone number", class: 'form-control', required: true  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :address %>
		  	<p class="text-muted">
		  		 Your complete postal address
		  	</p>
		  	<%= f.text_area :address, placeholder: " Complete street address", class: 'form-control', required: true  %>
		  </div>

		<div class="page-header">
			<h4>Education / Work</h4>
		</div>
		<div class="form-group areyouastudent">
			<label>Are you a student?</label>
			<div class="row">
				<div class="radio col-lg-3">
					<label><input checked='checked' type="radio" name="users[studying]" value="true" data-hit="studentsqs">Yes</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[studying]" value="false" data-hit="othersqs">No</label>
				</div>
			</div>
		</div>

		<div class="studentsqs">
		<div class="form-group">
			<label>What degree are you currently pursuing?</label>
			<div class="row">
				<div class="radio col-lg-3">
					<label><input checked='checked' type="radio" name="users[student]" value="bachelors">Bachelors</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[student]" value="masters">Masters</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[student]" value="phd">PhD.</label>
				</div>
			</div>
		</div>
		</div>

		<div class="othersqs hide">
			<div class="form-group">
				<label>What is your current job title? If not applicable fill it under ‘Others’?</label>
				<div class="row">
					<div class="radio col-lg-12">
						<label><input checked='checked' type="radio" name="users[title]" value="researchstudent">Research Student(Junior Research Fellow/Senior Research Fellow/Project assistant)</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="postdoc">Post-doc (within two years from completion of PhD)</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="independent">Independent</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="unemployed">Unemployed</label>
					</div>
					<div class="radio col-lg-12">
						<label><input id="titleothers" type="radio" name="users[title]" value="others" class="ti1">Others</label>
					</div>
				</div>
			</div>
		</div>

		  <div class="form-group">
		  	<%= f.label :institutional_affiliation %>
		  	<p class="text-muted">
		  		 Your complete institutional affiliation.
		  	</p>
		  	<%= f.text_area :institutional_affiliation, placeholder: " Complete Institutional Affiliation", class: 'form-control', required: true  %>
		  </div>
		</div>
	<div class="col-lg-6">
		<div class="page-header">
			<h4>Citizenship</h4>
		</div>
		  <div id="nationstate" class="form-group">
		  	<%= f.label :nationality %> <br>
		  	<%= raw country_select_text %>
		  </div>
		  <div id="nonindian">
		  	<br><br>
		  <p class="text-warning">Please fill in the information below if you are a non-Indian citizen. SCCS-Bengaluru is required to collect the following information from foreign citizens because it is mandated by the Government of India for getting official clearance while applying for your conference visa to travel to India.</p>
		  <div class="form-group">
		  	<%= f.label :pio %>
		  	<p class="text-muted">
		  		 Your PIO number if you hold a <em>Person of Indian Origin</em> card.
		  	</p>
		  	<%= f.text_field :pio, placeholder: " PIO Number", class: 'form-control' %>
		  </div>
		  <div class="form-group">
		  	<%= f.label :oci %>
		  	<p class="text-muted">
		  		 Your OCI number if you hold a <em>Overseas Citizen of India</em> card.
		  	</p>
		  	<%= f.text_field :oci, placeholder: " OCI Number", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_number %>
		  	<%= f.text_field :passport_number, placeholder: " ", class: 'form-control' %>
		  </div>

		  <p class="text-danger">If you do not have a passport and are applying for one, please get in touch with us immediately (sccs@sccs-bng.org) with details. We will not be able to issue you with a letter of invitation until all your passport details are sent to us.</p>

		 <!--  <div class="form-group">
		  	<%= f.label :passport_place %>
		  	<%= f.text_field :passport_place, placeholder: " ", class: 'form-control' %>
		  </div> -->

		  <div class="form-group">
		  	<%= f.label :guardian_names %>
		  	<p class="text-muted">
		  		 Names of Father / Mother / Gaurdian as in Passport
		  	</p>
		  	<%= f.text_area :guardian_names, placeholder: " Names of guardians", class: 'form-control' %>
		  </div>

		  <div class="form-group selectordate">
		  	<%= f.label :date_of_birth %><br>
		  	<%= f.date_select :date_of_birth, {required: true, :use_short_month=>true}, {:class => 'form-control'}  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :place_of_birth %>
		  	<%= f.text_field :place_of_birth, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_date_of_issue %>
		  	<%= f.text_field :passport_date_of_issue, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_date_of_expiry %>
		  	<%= f.text_field :passport_date_of_expiry, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_place_of_issue %>
		  	<%= f.text_field :passport_place_of_issue, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :address_as_stated_in_your_passport %>
		  	<%= f.text_area :address_as_stated_in_your_passport, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :indian_consulate %>
		  	<p class="text-muted">
		  		 Please include the full address ofthe Indian consulate where you plan to apply for your visa and also include contact email ID and phone numbers.
		  	</p>
		  	<%= f.text_area :indian_consulate, placeholder: " ", class: 'form-control' %>
		  </div>
		</div> <!-- #nonindian ends -->
	</div>
</div>
  <div class="page-header">
	<h4>Login Details</h4>
</div>

  <div class="form-group">
  	<%= f.label :email %> <br>
  	<p class="text-muted">
  		The primary email address used for all corresspondence.
  	</p>
	  <%= f.email_field :email, placeholder: " Your email address" %>
  </div>

  <div class="form-group"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

<div class="row">
	<p class="col-lg-6 text-info">Within a few minutes after clicking on 'Sign up' below, you will receive an email from us with a link to confirm your account as well as further instructions.</p>
	<p class="col-lg-6">.</p>
</div>    
  <div><%= f.submit "Sign up", :class=>'btn btn-success' %></div>
<% end %>

<%= render "devise/shared/links" %>
