<%= form_for @user, :url => { :action => "save_edited" }, :method => :POST, :html => {:class => "nifty_form",  :multipart => true } do |f| %>

<ul>
<% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
<% end %>
</ul>


<div class="row">
	<div class="col-lg-6">

		  <div class="page-header">
			<h4>Basic Information</h4>
		</div>

		  <div class="form-group">
		  	<%= f.label :first_name %> <br>
		  	<%= f.text_field :first_name, placeholder: "  First name as in passport", class: 'form-control', required: true %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :middle_name %> <br>
		  	<%= f.text_field :middle_name, placeholder: " Middle name as in passport", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :last_name %> <br>
		  	<%= f.text_field :last_name, placeholder: " Last name as in passport", class: 'form-control', required: true  %>
		  </div>

		  <div class="form-group">

			 <label>Gender</label>
		  	<div class="row">
		  		<div class="radio col-lg-3">
			  		<label>
			  		<%= f.radio_button :gender, 'Male', :checked => true %>
					Male
			  		</label>
			  	</div>
			  	<div class="radio col-lg-3">
			  		<label>
			  	 	<%= f.radio_button :gender, 'Female' %>
			  	 	Female
			  		</label>
			  	</div>
			  	<div class="radio col-lg-3">
			  		<label>
			  		<%= f.radio_button :gender, 'Other' %>
			  		Other
			  		</label>
			  	</div>
		  	</div>


		  </div>

		  <div class="form-group">
		  	<%= f.label :phone %>
		  	<p class="text-muted">
		  		 Your phone number with ISD and STD codes
		  	</p>
		  	<%= f.text_field :phone, placeholder: " Complete phone number", class: 'form-control', required: true if @user.applicant?  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :address %>
		  	<p class="text-muted">
		  		 Your complete postal address
		  	</p>
		  	<%= f.text_area :address, placeholder: " Complete street address", class: 'form-control', required: true if @user.applicant?  %>
		  </div>

		<div class="page-header">
			<h4>Education / Work</h4>
		</div>
		<div class="form-group areyouastudent">
			<label>Are you a student?</label>
			<div class="row">
				<div class="radio col-lg-3">
					<label><input checked='checked' type="radio" name="users[studying]" value="true" data-hit="studentsqs">Yes</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[studying]" value="false" data-hit="othersqs">No</label>
				</div>
			</div>
		</div>

		<div class="studentsqs">
		<div class="form-group">
			<label>What degree are you currently pursuing?</label>
			<div class="row">
				<div class="radio col-lg-3">
					<label><input checked='checked' type="radio" name="users[student]" value="bachelors">Bachelors</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[student]" value="masters">Masters</label>
				</div>
				<div class="radio col-lg-3">
					<label><input type="radio" name="users[student]" value="phd">PhD.</label>
				</div>
			</div>
		</div>
		</div>

		<div class="othersqs hide">
			<div class="form-group">
				<label>What is your current job title? If not applicable fill it under ‘Others’?</label>
				<div class="row">
					<div class="radio col-lg-12">
						<label><input checked='checked' type="radio" name="users[title]" value="researchstudent">Research Student(Junior Research Fellow/Senior Research Fellow/Project assistant)</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="postdoc">Post-doc (within two years from completion of PhD)</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="independent">Independent</label>
					</div>
					<div class="radio col-lg-12">
						<label><input type="radio" name="users[title]" value="unemployed">Unemployed</label>
					</div>
					<div class="radio col-lg-12">
						<label><input id="titleothers" type="radio" name="users[title]" value="others" class="ti1">Others</label>
					</div>
				</div>
			</div>
		</div>

		  <div class="form-group">
		  	<%= f.label :institutional_affiliation %>
		  	<p class="text-muted">
		  		 Your complete institutional affiliation with name and country. State 'None' if not applicable.
		  	</p>
		  	<%= f.text_area :institutional_affiliation, placeholder: " Complete Institutional Affiliation", class: 'form-control', required: true if @user.applicant?  %>
		  </div>
		</div>
	<div class="col-lg-6">
		<div class="page-header">
			<h4>Citizenship</h4>
		</div>
		  <div id="nationstate" class="form-group">
		  	<%= f.label :nationality %> <br>
		  	<% if action_name == 'new_user_type' %>
				<%= raw country_select_text %>
		  	<% else %>
				<% d = country_select_text %>
		  		<% c = "value=\"#{@user.nationality}\"" %>
		  		<% new_select = d.gsub(c, "#{c} selected='selected'") %>
		  		<%= raw new_select %>
		  	<% end %>
		  </div>
		  <div id="nonindian">
		  	<br><br>
		  <p class="text-warning">Please fill in the information below if you are a non-Indian citizen. SCCS-Bengaluru is required to collect the following information from foreign citizens because it is mandated by the Government of India for getting official clearance while applying for your conference visa to travel to India.</p>
		  <div class="form-group">
		  	<%= f.label :pio %>
		  	<p class="text-muted">
		  		 Your PIO number if you hold a <em>Person of Indian Origin</em> card.
		  	</p>
		  	<%= f.text_field :pio, placeholder: " PIO Number", class: 'form-control' %>
		  </div>
		  <div class="form-group">
		  	<%= f.label :oci %>
		  	<p class="text-muted">
		  		 Your OCI number if you hold a <em>Overseas Citizen of India</em> card.
		  	</p>
		  	<%= f.text_field :oci, placeholder: " OCI Number", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_number %>
		  	<%= f.text_field :passport_number, placeholder: " ", class: 'form-control' %>
		  </div>

		  <p class="text-danger">If you do not have a passport and are applying for one, please get in touch with us immediately (sccs@sccs-bng.org) with details. We will not be able to issue you with a letter of invitation until all your passport details are sent to us.</p>

		 <!--  <div class="form-group">
		  	<%= f.label :passport_place %>
		  	<%= f.text_field :passport_place, placeholder: " ", class: 'form-control' %>
		  </div> -->

		  <div class="form-group">
		  	<%= f.label :guardian_names, "Name of father / guardian" %>
		  	<p class="text-muted">
		  		 Name of Father / Guardian as in Passport
		  	</p>
		  	<%= f.text_field :guardian_names, placeholder: " Name of father / guardian", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :mothers_name, "Name of mother / guardian" %>
		  	<p class="text-muted">
		  		 Name of Mother
		  	</p>
		  	<%= f.text_field :mothers_name, placeholder: " Name of mother / guardian", class: 'form-control' %>
		  </div>

		  <div class="form-group selectordate">
		  	<%= f.label :date_of_birth %><br>
		  	<%= f.date_select :date_of_birth, {required: true, :use_short_month=>true, :start_year=>1930,:end_year=>2005}, {:class => 'form-control'}  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :place_of_birth %>
		  	<%= f.text_field :place_of_birth, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group selectordate">
		  	<%= f.label :passport_date_of_issue %> <br>
		  	<%= f.date_select :passport_date_of_issue, {required: true, :use_short_month=>true, :start_year=>1990,:end_year=>2015}, {:class => 'form-control'}  %>
		  </div>

		  <div class="form-group selectordate">
		  	<%= f.label :passport_date_of_expiry %> <br>
		  	<%= f.date_select :passport_date_of_expiry, {required: true, :use_short_month=>true, :start_year=>2015,:end_year=>2035}, {:class => 'form-control'}  %>

		  </div>

		  <div class="form-group">
		  	<%= f.label :passport_place_of_issue %>
		  	<%= f.text_field :passport_place_of_issue, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :address_as_stated_in_your_passport %>
		  	<%= f.text_area :address_as_stated_in_your_passport, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="page-header">
			<h4>Details of Indian consulate where you plan to apply</h4>
		</div>

		  <div class="form-group">
		  	<%= f.label :indian_consulate, "Address of the Indian consulate" %>
		  	<p class="text-muted">
		  		 Please include the full address of the Indian consulate where you plan to apply for your visa and also include contact email ID and phone numbers.
		  	</p>
		  	<%= f.text_area :indian_consulate, placeholder: " ", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :consulate_phone %>
		  	<%= f.text_field :consulate_phone, placeholder: "Consulate phone number", class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :consulate_email %>
		  	<%= f.text_field :consulate_email, placeholder: "Consulate email", class: 'form-control' %>
		  </div>
		  <div class="form-group">
		  	<% if current_user.admin? %>
		  	<hr>
		  		<strong>PASSPORT SCAN</strong> <br>
		  		<a href="<%= @user.passportscan %>" target="_blank">Download Passport Scan</a> <br> <br>
		  		If you wish to override this applicant's passport, please upload a new one by clicking below. <span class="text-danger">Please note that the earlier copy will be destroyed.</span> <br> <br>
		  		<%= f.file_field :passportscan %>
		  	<% end %>
		  </div>
		</div> <!-- #nonindian ends -->
	</div>
</div>


<div class="page-header">
	<h4>Login Details</h4>
</div>

  <div class="form-group">
  	<%= f.label :email %> <br>
  	<p class="text-muted">
  		The primary email address used for all correspondence.
  	</p>
	  <%= f.email_field :email, placeholder: " Your email address" %>
  </div>

  <div><%= f.submit "Update User", :class=>'btn btn-success' %></div>
<% end %>
