<h1>All Participants</h1>

<table id="" class="table table-striped table-hover table-bordered datatable">
	<thead>
    <tr>
	<th>Full Name</th>
	<th>Country</th>
	<th>Email</th>
	<th>Gender</th>
	<th>Title</th>
	<th>Institutional Affiliation</th>
	<th>Phone</th>
	<th>Address</th>
	<th>Role</th>
	
    </tr>
  </thead>

<tbody>
<% @users.each do |u| %>
<tr>
	<td><%= u.full_name %></td>
	<td><%= u.nationality %></td>
	<td><%= u.email  %></td>
	<td><%= u.gender %></td>
	<td><%= u.title %></td>
	<td><%= u.institutional_affiliation %></td>
	<td><%= u.phone %></td>
	<td><%= u.address %></td>
	<td><%= u.role%></th>
</tr>
<% end %>
</tbody>
</table>

<br><br>