<div class="jumbotron backer vertical-center" style="background-image: url(<%= asset_path 'lizardtreated.jpg' %>)">
	<div class="container">
		<p class="leadin">The sixth</p>
		<h1>Student Conference on <br> Conservation Science - Bengaluru</h1>
		<p class="lead"><strong>8 - 11 SEPTEMBER 2015, IISc, BENGALURU </strong><br> 500 of Africa and Asia's brightest conservation researchers</p>
		<!-- <div class="redred" style="background: red; color:white; padding: 5px; display: inline-block;">If you are interested in offering a workshop at this year's conference, have a look at our <a style="color: white; text-decoration: underline;" href="http://www.sccs-bng.org/webpages/workshops/" title="Workshops 2015">Workshops page</a>.</div> -->
		<div class="scrolldown">

		</div>
	</div>
</div>

<div class="announceee" style="background-image: url(<%= asset_path 'stardust.png' %>)">
	<div class="container announcey">
		<div class="mem">DATES TO REMEMBER</div>
		<div class="row">
				<% @announcements.each do |a| %>
				<div class="col-lg-3">
					<div class="announce">
						<div class="date">
							<strong><%= a.date %></strong>
						</div>
						<div class="title">
							<%= a.title %>
						</div>
						<div class="message">
							<%= a.message %>
						</div>
					</div>
				</div>
				<% end %>
		</div>
	</div>
</div>


<div class="showoff">
	<div class="container">
		<div class="reallyshowit col-lg-6 vertical-align3">
			The largest student conference in India
		</div>
		<div class="col-lg-3 vertical-align3">
			<div>6 Plenary Talks <br> 20 Student Talks <br> 80 Student Posters</div>
		</div>
		<div class="col-lg-3 vertical-align3">
			<div>40+ Workshops <br> Who's Who in Conservation <br> Post-conference Field Trip <br> </div>
		</div>
	</div>
</div>

<div class="speakers"  style="background-image: url(<%= asset_path 'rockywall.png' %>)">
	<div class="container">
		<div class="h3title">2015 PLENARY SPEAKERS</div>
		<div class="row">
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'jn.png' %> </a><br>
				<p>On Integrating Science and Conservation: How Can We Make Our Science Most Useful? <br><strong>James D. Nichols</strong></p>
			</div>
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'sv.png' %></a><br>
				<p>Moving mountains: migration, rurality and social ecology.<br> <strong>Sudha Vasan</strong></p>
			</div>
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'co.png' %> </a><br>
				<p>North-South Climate Equity: From Common but Differentiated to Common but Shifted Responsibility. <br> <strong>Chukwumerije Okereke</strong></p>
			</div>

		</div>

		<div class="yeahyeahyeah">OTHER SPEAKERS TO BE ANNOUNCED <br> <small>Register with us to keep yourself updated!</small></div>
	</div>
</div>

<div class="alllocations">
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		var submissions = <%= raw @confirmed.to_json %>;
		var markers = [];
		var map;

	  // Add a marker to the map and push to the array.
	  function addMarker(location, title) {
	    var marker = new google.maps.Marker({
	      position: location,
	      map: map,
	      icon: '<%= image_path 'marker.png' %>',
	      title: title
	    });
	    markers.push(marker);
	  }

	  // Sets the map on all markers in the array.
	  function setAllMap(map) {
	    for (var i = 0; i < markers.length; i++) {
	      markers[i].setMap(map);
	    }
	  }

	  // Removes the markers from the map, but keeps them in the array.
	  function clearMarkers() {
	    setAllMap(null);
	  }

	  // Shows any markers currently in the array.
	  function showMarkers() {
	    setAllMap(map);
	  }

	  // Deletes all markers in the array by removing references to them.
	  function deleteMarkers() {
	    clearMarkers();
	    markers = [];
	  }

	  function initialize() {
	    var haightAshbury = new google.maps.LatLng(submissions[1].gps_lat, submissions[1].gps_lng);
	    var mapOptions = {
	      zoom: 3,
	      center: haightAshbury,
	      mapTypeId: google.maps.MapTypeId.TERRAIN,
	      styles: mapStyle
	    };
	    var infowindow = new google.maps.InfoWindow();
	    map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);

	    for (var i = submissions.length - 1; i >= 0; i--) {
	    	var location = new google.maps.LatLng(submissions[i].gps_lat, submissions[i].gps_lng);
	    	var marker = new google.maps.Marker({
	    	  position: location,
	    	  map: map,
	    	  icon: '<%= image_path 'marker.png' %>',
	    	  // title: submissions[i].title + ' • ' + submissions[i].presenter + ' • ' + submissions[i].keywords,
	    	  title: submissions[i].presenter.toUpperCase() + ' • ' + submissions[i].keywords,
	    	});
	    	markers.push(marker);
	    };
	  }

	  google.maps.event.addDomListener(window, 'load', initialize);
	</script>
		<div id="mapexplain" style="background-color: #193341; color: #fff; font-weight: 900; text-align: center;"><br>OUR PARTICPANTS COME FROM AROUND THE WORLD<br></div>
	  <div id="map-canvas"  style="width: 100%; height: 500px; border: 30px solid #193341; border-left:none; border-right: none;"></div>
</div>

<div class="past">
	<div class="container">


	<strong>OUR SISTER CONFERENCES</strong> <br>
	<a class="" href="http://www.sccs-aus.org/" target="_blank">SCCS Australia</a> •
	<a class="" href="http://www.sccs-cam.org/" target="_blank">SCCS Cambridge</a> •
	<a class="" href="http://sccs.okologia.mta.hu/" target="_blank">SCCS Hungary</a> •
	<a class="" href="http://www.amnh.org/our-research/center-for-biodiversity-conservation/events-exhibitions/conferences-and-symposia/2015-sccs-ny" target="_blank">SCCS New York</a> •
	<a class="" href="http://www.sccs-cam.org/Pdfs/2014/SCCS-Beijing%202013.pdf" target="_blank">SCCS Beijing</a>
	</div>
</div>
