<div class="jumbotron backer vertical-center" style="background-image: url(<%= asset_path 'lizardtreated.jpg' %>)">
	<div class="container">
		<p class="leadin">The sixth</p>
		<h1>Student Conference on <br> Conservation Science - Bengaluru</h1>
		<p class="lead"><strong>8 - 11 SEPTEMBER 2015, IISc, BENGALURU </strong><br> 500 of Africa and Asia's brightest conservation researchers</p>
		<div class="scrolldown">

		</div>
	</div>
</div>

<div class="announceee" style="background-image: url(<%= asset_path 'stardust.png' %>)">
	<div class="container announcey">
		<div class="mem">DATES TO REMEMBER</div>
		<div class="row">
				<% @announcements.each do |a| %>
				<div class="col-lg-3">
					<div class="announce">
						<div class="date">
							<strong><%= a.date %></strong>
						</div>
						<div class="title">
							<%= a.title %>
						</div>
						<div class="message">
							<%= a.message %>
						</div>
					</div>
				</div>
				<% end %>
		</div>
	</div>
</div>


<div class="showoff">
	<div class="container">
		<div class="reallyshowit col-lg-6 vertical-align3">
			The largest and premier student conference in India
		</div>
		<div class="col-lg-3 vertical-align3">
			<div>6 Plenary Talks <br> 20 Student Talks <br> 80 Student Posters</div>
		</div>
		<div class="col-lg-3 vertical-align3">
			<div>40+ Workshops <br> Who's Who in Conservation <br> Post-conference Field Trip <br> </div>
		</div>
	</div>
</div>

<div class="speakers"  style="background-image: url(<%= asset_path 'rockywall.png' %>)">
	<div class="container">
		<div class="h3title">2015 PLENARY SPEAKERS</div>
		<div class="row">
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'jn.png' %> </a><br>
				<p>On Integrating Science and Conservation: How Can We Make Our Science Most Useful? <br><strong>James D. Nichols</strong></p>
			</div>
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'sv.png' %></a><br>
				<p>Moving mountains: migration, rurality and social ecology.<br> <strong>Sudha Vasan</strong></p>
			</div>
			<div class="speaker">
				<a href="/webpages/plenaries"><%= image_tag 'co.png' %> </a><br>
				<p>North-South Climate Equity: From Common but Differentiated to Common but Shifted Responsibility. <br> <strong>Chukwumerije Okereke</strong></p>
			</div>

		</div>

		<div class="yeahyeahyeah">OTHER SPEAKERS TO BE ANNOUNCED <br> <small>Register with us to keep yourself updated!</small></div>
	</div>
</div>

<div class="past">
	<div class="container">


	<strong>OUR SISTER CONFERENCES</strong> <br>
	<a class="" href="http://www.sccs-aus.org/" target="_blank">SCCS Australia</a> •
	<a class="" href="http://www.sccs-cam.org/" target="_blank">SCCS Cambridge</a> •
	<a class="" href="http://sccs.okologia.mta.hu/" target="_blank">SCCS Hungary</a> •
	<a class="" href="http://www.amnh.org/our-research/center-for-biodiversity-conservation/events-exhibitions/conferences-and-symposia/2015-sccs-ny" target="_blank">SCCS New York</a> •
	<a class="" href="http://www.sccs-cam.org/Pdfs/2014/SCCS-Beijing%202013.pdf" target="_blank">SCCS Beijing</a>
	</div>
</div>
