<% s = @result[0] %>
<% att_id = @attachment[0][0] if @attachment[0][0] > 99 %>
<% att_id = "0#{@attachment[0][0]}" if @attachment[0][0] < 100 %>
<% att_id = "00#{@attachment[0][0]}" if @attachment[0][0] < 10 %>
<br>
<br>
<br>

<div class="container archive">
<span class="capitalize label label-info">Earlier events :: <%= 2012 + s[4] %> :: STUDENT <%= 'Talks' if s[6] == 1 %><%= 'Poster' if s[6] == 2 %></span>
<hr>
<h2><%= s[1] %></h2>
<div class="row metameta">
	<div class="col-lg-6 presenter">Presented by <br> <strong><%= s[30].titleize %> <%= s[31].titleize %></strong> <br><%= @users[0][21].titleize %></div>
	<div class="col-lg-6 authors">Authors <br> <strong><%= s[2].titleize %></strong></div>
</div>
<img style="display:block; margin:0 auto; max-width: 100%; border-bottom: 1px solid #f0f0f0;" src="/system/system/attachments/pics/000/000/<%= att_id %>/slide/<%= @attachment[0][5] %><%=  %>" alt="">
<div class="oldabstract">
	<%= raw s[3] %>
</div>
</div>