<br>
<%= form_for(@submission, :html => { :multipart => true }) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-6">
    <p>Your abstract should be organized in the following eight sections. There are detailed guidelines and explanations for each section below. Recognising that conservation research and practice cover a diversity of disciplines and involve different types of data collection methods and interpretation we have attempted to use a broad template to help you submit your abstract. If you have any difficulty organising your abstract in the format below or would like any clarifications please write to us at sccs@sccs-bng.org at least two weeks before the abstract submission deadline.</p>
  </div>
</div>
<div class="page-header">
  <h4>Abstract Information</h4>
</div>
<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :title %>
    <p class="text-muted">The title of your abstract. (20)</p>
    <%= f.text_field :title, class: 'form-control', required: true %>
    <div class="words wtitle"></div>
  </div>
  <div class="col-lg-6 instructions"></div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :introduction %><br>
    <p class="text-muted">
      What conservation issue, problem or question does your study address? (100)
    </p>
    <%= f.text_area :introduction, class: 'form-control', required: true %>
    <div class="words wintro"></div>
  </div>
  <div class="col-lg-6 instructions">In this section you are expected to provide the general conservation context for your study, and to indicate your research question. The Research Question is the pivotal question of any research report. If you are in doubt as to which of the questions addressed in your study is the Research Question, the clarification is simple: the Research Question is the question that the title of the paper answers (or promises to answer). The specific objectives you addressed to answer the research question should be presented in the next section.</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :methods, "Methods/ Materials/Methodology" %>
    <p class="text-muted">What were the main research methods you used? (125)</p>
    <%= f.text_area :methods, class: 'form-control', required: true %>
    <div class="words wmethods"></div>

  </div>
  <div class="col-lg-6 instructions">The Methods section describes the specific things you have done to acquire and analyse your data. This is the critical section where you justify your choice of methods and mention the possible errors/biases and how these were addressed. If you have multiple objectives, the methods used for each should be clearly mentioned. For completed work, or work-in-progress, your abstract should clearly communicate the following to the reviewers i. the time period over which the study was conducted; ii. types of data that were collected and their interpretation and iii. the sample size (N) if any.  </div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :results, "Results/ Findings/Argument Development" %>
    <p class="text-muted">What are the main results/findings of your study? (125)</p>
    <%= f.text_area :results, class: 'form-control', required: true %>
    <div class="words wresults"></div>
  </div>
  <div class="col-lg-6 instructions">This section should be a presentation of the results of your analysis or which is developed by analysis of the evidence (sources, data) arising from the research undertaken. <br>
The Results provide the answers to the questions represented by the Methods. Most researchers have no trouble understanding the nature of their results. Present only your most significant and conservation relevant results here.</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :discussion, "Discussion/Synthesis and conservation relevance" %>
    <p class="text-muted">Discuss and synthesise your results based on the evidence presented in your results section. Please also use this section to discuss the relevance of your findings for conservation practice/science. (100)
</p>
    <%= f.text_area :discussion, class: 'form-control', required: true %>
    <div class="words wdiscussion"></div>
  </div>
  <div class="col-lg-6 instructions">Your discussion/synthesis section should provide a broader perspective to your research results. It gives you the opportunity to effectively demonstrate your ability as a researcher to think critically about the conservation issue you are trying to address. If relevant, incorporate how your research and results are situated in a Global/Regional/Country specific perspective and highlight how your study contributes to current/ past literature and thinking; and if it contradicts or supports current popular thought/philosophies. Your discussion section should not be merely governed by the objective reporting of information via your results but, rather, it is where you can engage in creative thinking about issues through evidence-based interpretation of your findings. In other words, this is where you infuse your results with meaning.
<br><br>
Some of the most common mistakes that you can make when discussing the results of your study are to present a superficial interpretation of the findings, or come up with interpretations that go beyond your data and results. Rather, your discussion should remain focused only on the findings of your study. If, towards the end, you would like to speculate, or make suggestions beyond what your data are telling you, be very clear that these are your specific comments, speculations and suggestions and therefore these require further research.
<br><br>
Likewise, when you are describing what the conservation implications of your research work are, make sure that you clearly differentiate between the implications arising directly from specific results of your study and those arising from speculations.  </div>
</div>

<div class="row">
  <div class="form-group col-lg-8">
    <%= f.label :visual_abstract, "Visual Component" %>
    <p>Visual Component (JPEG/PNG file less than 1 MB in size): we would like you to add a visual component which should typically complement the textual element of your abstract. This single image file could be either in the form of graphs, tables, maps, figures, illustrations, flow charts, photographs and other visual elements illustrating the main results, the study design, or the main idea that is captured by the study. Keep text within this visual component to a minimum and try not to replicate the same text you have used in the text of your abstract. </p>
    <%= image_tag @submission.visual_abstract(:large) %>
  <span class="btn btn-file"><%= f.file_field :visual_abstract %></span>
    <span class="text-danger">If you select a new file, the old visual abstarct will be overridden.</span>
  </div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :keywords %>
    <%= f.text_field :keywords, class: 'form-control', required: true %>
  </div>
  <div class="col-lg-6 instructions">Maximum of 5 keywords separated by semi-colons(;) which best describe your study</div>
</div>

<div class="row">
  <div class="form-group col-lg-8">
    <%= f.label :gps_lat, "Study location GPS co-ordinates" %>
      <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
      <div id="us3" style="height: 300px; background-color:black;"></div>
    <div class="row">
      <div class="col-lg-4"><%= f.text_field :gps_lat, class: 'form-control', required: true %>LATITUDE</div>

      <div class="col-lg-4"><%= f.text_field :gps_lng, class: 'form-control', required: true %>LONGITUDE</div>
    </div>
    <script>

$('#us3').locationpicker({

  <% if @submission.gps_lat.nil? %>
    location: {latitude: 13.015551285477105, longitude: 77.5613899230957},
  <% else %>
    location: {latitude: <%= @submission.gps_lat %>, longitude: <%= @submission.gps_lng %>},
  <% end %>

  radius: 300,
  zoom: 6,
  inputBinding: {
        latitudeInput: $('#submission_gps_lat'),
        longitudeInput: $('#submission_gps_lng')
    }
  });

    </script>
  </div>
  <div class="col-lg-4 instructions">
    <br><br>
    <pre>
      <%= @submission.inspect %>
    </pre>
   Please indicate the geographical location where your study was conducted on the map provided. If your study did not involve fieldwork, i.e. if your work was theoretical, literature-based etc., please indicate the location of the institution/organisation where the work was carried out . You can either mark the location on the Google Map provided by clicking and dragging the pin or enter GPS coordinates of your study site.
  </div>
</div>

<div class="page-header">
  <h4>Authorship</h4>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :presenter %><br>
    <%= f.text_field :presenter, class: 'form-control' ,required: true %>
  </div>
  <div class="col-lg-6 instructions"><br>FUll Name of the presenter</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :current_institution, "Current Institution Name and Country of Presenter" %><br>
    <%= f.text_area :current_institution, class: 'form-control' ,required: true %>
  </div>
  <div class="col-lg-6 instructions"><br>Current institutional affiliation of main presenter

</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :other_institutional_affiliations %><br>
    <%= f.text_area :other_institutional_affiliations, class: 'form-control' %>
  </div>
  <div class="col-lg-6 instructions"><br>Leave blank if not applicable

</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :co_authors, "Co-authors" %><br>
    <%= f.text_area :co_authors, class: 'form-control' %>
  </div>
  <div class="col-lg-6 instructions">Co-Authors (if any) and their Institutions including Country (separate using semi-colons): Leave blank if not applicable</div>
</div>

<div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :poster, "Presentation Preference" %><br>
     <div class="col-lg-10">
        <div class="radio">
          <label>
            <%= f.radio_button :poster, "talk" %>
            Talk
          </label>
        </div>
       <div class="radio">
          <label>
            <%= f.radio_button :poster, "poster" %>
            Poster
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :poster, "either", :checked => 'checked'  %>
            Either
          </label>
        </div>
      </div>
  </div>
  <div class="col-lg-6 instructions"></div>
</div>

<div class="row">
  <div class="form-group col-lg-6 prev">
    <%= f.label :previous_attendance, "Have you attended SCCS Bangalore before?" %><br>
     <div class="col-lg-10">
       <div class="radio">
          <label>
            <%= f.radio_button :previous_attendance, "1", :checked => 'checked' %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :previous_attendance, "0" %>
            No
          </label>
        </div>
      </div>
  </div>
  <div class="col-lg-6 instructions"></div>
</div>

<div class="row atty">
  <div class="form-group col-lg-6">
    <%= f.label :attendance_year %><br>
    <%= f.text_field :attendance_year, class: 'form-control' %>
  </div>
  <div class="col-lg-6 instructions">If you have attended the conference more than once, separate years using semi-colons </div>
</div>


<div class="page-header">
  <h4>Bursary</h4>
</div>

<p>If you come from South or South-east Asia or Africa, you can also apply for a bursary to assist with travel and other costs, but please note that we can only provide partial bursaries to help a limited number of applicants, and only for those whose abstracts are chosen and accepted for oral or poster presentations in SCCS-Bengaluru 2015.
<br><br>
All bursary applicants should also pay the conference registration fees online for their abstract and bursary applications to be accepted and reviewed. If the bursary application is successful, a partial refund of costs incurred in attending the conference (international travel and free local accommodation in Bengaluru) will be provided as part of the bursary. If your bursary application is not successful and if you wish to cancel your registration, cancellation rules of SCCS-Bengaluru 2015 will apply.</p>

<div class="row atty">
  <div class="form-group col-lg-6">
    <%= f.label :previous_bursary, "Have you received a bursary before?" %><br>
    <div class="col-lg-10">
       <div class="radio">
          <label>
            <%= f.radio_button :previous_bursary, "1", :checked => 'checked' %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :previous_bursary, "0" %>
            No
          </label>
        </div>
      </div>
  </div>
  <div class="col-lg-6 instructions"></div>
</div>


<div class="row">
  <div class="form-group col-lg-6 bur">
    <%= f.label :bursary, "Would you like a bursary for SCCS-Bengaluru 2015?" %><br>
    <div class="col-lg-10">
       <div class="radio">
          <label>
            <%= f.radio_button :bursary, "1", :checked => 'checked' %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :bursary, "0" %>
            No
          </label>
        </div>
      </div>
  </div>
  <div class="col-lg-6 instructions"></div>
</div>

<div class="row submission_reason_for_bursary">
  <div class="form-group col-lg-6">
    <%= f.label :reason_for_bursary %><br>
    <%= f.text_area :reason_for_bursary, class: 'form-control' %>
    <div class="wbursary"></div>
  </div>
  <div class="col-lg-6 instructions">Provide a justification of why you think you are deserving of a bursary and what personal or other funds you can make available for attending SCCS-Bengaluru 2015.</div>
</div>


  <div class="actions">
    <p class="text-danger">Please note that once you have clicked on the "Submit" button you cannot make any changes to this form. There is a link provided for you to view a copy of your submitted abstract. Each participant is allowed to submit only one abstract to the conference.</p>
    <br><br>
    <%= f.submit "Submit your Abstract!", :class=>'btn btn-success' %>
  </div>
<% end %>


<script>
$( document ).ready(function() {


  var title = document.getElementById('submission_title')
  var introduction = document.getElementById('submission_introduction')
  var methods = document.getElementById('submission_methods')
  var results = document.getElementById('submission_results')
  var discussion = document.getElementById('submission_discussion')
  var bursary = document.getElementById('submission_reason_for_bursary')

  Countable.live(title, function (counter) {
    $('.wtitle').html(20 - counter.words + ' words left.');
  });

  Countable.live(introduction, function (counter) {
    $('.wintro').html(100 - counter.words  + ' words left.');
  });

  Countable.live(methods, function (counter) {
    $('.wmethods').html(125 - counter.words  + ' words left.');
  });

  Countable.live(results, function (counter) {
    $('.wresults').html(125 - counter.words  + ' words left.');
  });

  Countable.live(discussion, function (counter) {
    $('.wdiscussion').html(100 - counter.words  + ' words left.');
  });

   Countable.live(bursary, function (counter) {
    $('.wbursary').html(100 - counter.words  + ' words left.');
  });

  $('.prev input:radio').change(
    function(){
        if ($(this).val() == 0) {
          $('.atty').hide();
        } else {
          $('.atty').show();
        }
    }
  );

  $('.bur input:radio').change(
    function(){
        if ($(this).val() == 0) {
          $('.submission_reason_for_bursary').hide();
          $('.submission_reason_for_bursary').removeAttr('required');
          } else {
          $('.submission_reason_for_bursary').show();
          $('.submission_reason_for_bursary').prop('required',true);
        }
    }
  );


});
</script>
