<h1>Listing submissions</h1>

<table id="" class="table table-striped table-hover table-bordered datatable">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Title</th>
      <th>Poster</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= submission.user.id %></td>
        <td><%= submission.title %></td>
        <td><%= submission.poster %></td>
        <td><%= submission.user.full_name %></td>
        <td><%= link_to 'Show', submission %> <%= link_to 'Edit', edit_submission_path(submission) %> <%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Submission', new_submission_path %>
