<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @submission.introduction %>
</p>

<p>
  <strong>Methods:</strong>
  <%= @submission.methods %>
</p>

<p>
  <strong>Results:</strong>
  <%= @submission.results %>
</p>

<p>
  <strong>Discussion:</strong>
  <%= @submission.discussion %>
</p>

<p>
  <strong>Visual Abstract</strong> <br>
  <%= image_tag @submission.visual_abstract(:medium) %>
</p>

<p>
  <strong>Presenter:</strong>
  <%= @submission.presenter %>
</p>

<p>
  <strong>Current Institution:</strong>
  <%= @submission.current_institution %>
</p>

<p>
  <strong>Other Institutional Affiliations:</strong>
  <%= @submission.other_institutional_affiliations %>
</p>


<p>
  <strong>Keywords:</strong>
  <%= @submission.keywords %>
</p>

<p>
  <strong>Co authors:</strong>
  <%= @submission.co_authors %>
</p>

<p>
  <strong>Gps:</strong>
  LAT: <%= @submission.gps_lat %> <br>
  LONG : <%= @submission.gps_lng %>
</p>

<p>
  <strong>Presentation Format:</strong>
  <%= @submission.poster %>
</p>

<p>
  <strong>Previous attendance:</strong>
  <%= @submission.previous_attendance %>
</p>

<p>
  <strong>Attendance year:</strong>
  <%= @submission.attendance_year %>
</p>

<p>
  <strong>Previous bursary:</strong>
  <%= @submission.previous_bursary %>
</p>

<p>
  <strong>Bursary:</strong>
  <%= @submission.bursary %>
</p>

<p>
  <strong>Reason for bursary:</strong>
  <%= @submission.reason_for_bursary %>
</p>

<%# link_to 'Edit', edit_submission_path(@submission) %>
<%# link_to 'Back', submissions_path %>
