<p id="notice"><%= notice %></p>
<br><br>
<span class="capitalize label label-info">2015 : Submission</span>
<hr>
<div class="archive">
<h2><%= @submission.title %></h2>

<div class="row metameta">
  <div class="col-lg-6 presenter">Presented by <br> <strong><%= @submission.presenter %></strong> <br><%= @submission.current_institution %> <%= " • <strong>Other Institutional Affiliations:</strong>  #{@submission.other_institutional_affiliations}" unless @submission.other_institutional_affiliations.empty? %></div>
  <div class="col-lg-6 authors">Co-authors <br> <strong><%= @submission.co_authors %></strong></div>
</div>
<%= image_tag @submission.visual_abstract(:large) %>
<hr>
<p>
  <strong>Keywords: </strong>
  <%= @submission.keywords %>
</p>
<hr>
<div class="oldabstract">
  <p>
  <strong>Introduction:</strong>
  <%= @submission.introduction %>
</p>

<p>
  <strong>Methods:</strong>
  <%= @submission.methods %>
</p>

<p>
  <strong>Results:</strong>
  <%= @submission.results %>
</p>

<p>
  <strong>Discussion:</strong>
  <%= @submission.discussion %>
</p>
</div>


<!-- MAP -->
<hr>
<div class="row">
  <div class="col-lg-6">

  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var myLatlng = new google.maps.LatLng(<%= @submission.gps_lat %>,<%= @submission.gps_lng %>);
      var mapOptions = {
        zoom: 8,
        center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Hello World!'
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

    <div id="map-canvas"  style="width: 100%; height: 300px;"></div>

    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @submission.gps_lat %>,<%= @submission.gps_lng %>&zoom=13&size=900x300&maptype=roadmap&markers=color:blue%7C<%= @submission.gps_lat %>,<%= @submission.gps_lng %>" alt="" style="width:100%;"> -->
  </div>
  <div class="col-lg-4">

  </div>
</div>
<p>
</p>


</div>

<!-- ONLY FOR ADMIN -->
<% if current_user.admin? %>

<p>
  <strong>Presentation Format:</strong>
  <%= @submission.poster %>
</p>
<p>
  <strong>Previous attendance:</strong>
  <%= @submission.previous_attendance %>
</p>
<p>
  <strong>Attendance year:</strong>
  <%= @submission.attendance_year %>
</p>
<p>
  <strong>Previous bursary:</strong>
  <%= @submission.previous_bursary %>
</p>
<p>
  <strong>Bursary:</strong>
  <%= @submission.bursary %>
</p>
<p>
  <strong>Reason for bursary:</strong>
  <%= @submission.reason_for_bursary %>
</p>

<hr>
  <% unless @reviews.empty? %>
<div class="row">
    <div class="col-lg-12">
      <h5>Reviews</h5>
      <hr>
    </div>
</div>
<div class="row">
    <% @reviews.each do |r| %>
      <div class="col-lg-3 well">
        <strong><%= r.user.full_name %></strong> <%= raw '<span class="capitalize label label-success">FINALIZED</span>' if r.finalized %> <%= raw '<span class="capitalize label label-danger">STILL REVIEWING</span>' unless r.finalized %> <hr>
        CONSERVATION : <%= r.conservation_score %> <br>
        SCIENCE : <%= r.science_score %> <br>
        VISUAL : <%= r.visual_score %> <br>
        <hr>
        <%= raw "COMMENT TO ADMIN : <br>" unless r.comment_to_admin %>
        <%= r.comment_to_admin %>
        <%= raw "<hr>" unless r.comment_to_admin %>
        <%= raw "COMMENT TO APPLICANT : <br>" unless r.comment_to_applicant %>
        <%= r.comment_to_applicant %>
        <%= raw "<hr>" unless r.comment_to_applicant %>
        RECOMENDATION : <%= r.recommendation %>
        <hr>
        <small><%= r.user.full_name %> has viewed this abstract <%= r.view_count %> times.</small>
      </div>
      <div class="col-lg-1"></div>
    <% end %>
</div>
  <% else %>

  <% end %>

<% end %>

<%# link_to 'Edit', edit_submission_path(@submission) %>
<%# link_to 'Back', submissions_path %>
