<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.first_name %> <%= @user.last_name %></p>


<p>Thank you for submitting an abstract for SCCS-Bengaluru 2015. Your abstract was independently reviewed by three reviewers as well as the Organising Committee, and we are glad to inform you that your abstract has been selected for a <strong><%= @submission.final_status %> presentation</strong>.</p>

<p>Some information to help you prepare your <%= @submission.final_status %> is available on our website http://www.sccs-bng.org under the Information for Presenters tab.</p>

<p>Reviewer comments, if any, can be found below. We encourage you to incorporate the reviewer suggestions while making your presentation at SCCS-Bengaluru. If you have applied for a bursary, we will let you know of our decision in a separate e-mail.</p>

<p>Please reply to this email by May 31, 2015. to confirm that you will present your work at SCCS-Bengaluru 2015.</p>

<p>Warm regards,
<br><br>
Devathi <br>
Conference Administrator</p>

<hr>

<% unless @reviews.empty? %>

<p><strong>Reviewer Comments (if any):</strong></p>

--------------------------------------------------------------------------------------------------------------------
  <ul>
  <% @reviews.each do |r| %>
      <li><%= r.comment_to_applicant %></li>
  <% end %>
  </ul>
<% end %>

  </body>
</html>