<br>
<br>
<br>
<br>

<h4>Hello <%= current_user.full_name %></h4>
<p>This is your dashboard. You can use this area to administer and manage your workshop(s).</p>

<hr>

<% @workshopconductorships.each do |wc| %>
  <strong><%= link_to wc.workshop.title, workshop_path(wc.workshop) %></strong> <br>
  <%= wc.workshop.description %> <br>
  <%= wc.workshop.current_seats == nil ? '0' : wc.workshop.current_seats  %> / <%= wc.workshop.maximum_seats %>
  <hr>
<% end %>



<br>
<br>
<br>
<br>