<br>
<span class="capitalize label label-info">REVIEWING</span>
<hr>
<div class="archive col-lg-7">
<h4><%= @submission.title %></h4>

<!-- <div class="row metameta">
  <div class="col-lg-6 presenter">Presented by <br> <strong><%= @submission.user.full_name %></strong> <br><%= @submission.current_institution %> <%= " • <strong>Other Institutional Affiliations:</strong>  #{@submission.other_institutional_affiliations}" unless @submission.other_institutional_affiliations.empty? %></div>
  <div class="col-lg-6 authors">Co-authors <br> <strong><%= @submission.co_authors %></strong></div>
</div> -->
<style>img.full{max-width: 100%}</style>
<a href="<%= image_path @submission.visual_abstract %>" target="_blank"><%= image_tag @submission.visual_abstract(:large), :class=>'full' %></a>
<hr>
<p>
  <strong>Keywords: </strong>
  <%= @submission.keywords %>
</p>
<hr>
<div class="oldabstract">
  <p>
  <strong>Introduction:</strong>
  <%= @submission.introduction %>
</p>

<p>
  <strong>Methods:</strong>
  <%= @submission.methods %>
</p>

<p>
  <strong>Results:</strong>
  <%= @submission.results %>
</p>

<p>
  <strong>Discussion:</strong>
  <%= @submission.discussion %>
</p>
</div>


<!-- MAP -->
<hr>
<div class="row">
  <div class="col-lg-12">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @submission.gps_lat %>,<%= @submission.gps_lng %>);
        var mapOptions = {
          zoom: 8,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('mapmap'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="mapmap" style="width: 100%; height: 300px;"></div>
    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @submission.gps_lat %>,<%= @submission.gps_lng %>&zoom=13&size=900x300&maptype=roadmap&markers=color:blue%7C<%= @submission.gps_lat %>,<%= @submission.gps_lng %>" alt="" style="width:100%;"> -->
  </div>
</div>
<p>
</p>


</div>

<% if @review.finalized %>
<div class="col-lg-3 well">
  <h5>Your Review</h5>
  <strong>Conservation Score : </strong> <%= @review.conservation_score %> <br>
  <strong>Science Score : </strong> <%= @review.science_score %> <br>
  <strong>Visual Score : </strong> <%= @review.visual_score %> <br>
  <hr>
  <strong>Comment to the applicant : </strong> <br>
  <%= raw @review.comment_to_applicant %>
  <hr>
  <strong>Comment to the admin : </strong> <br>
  <%= raw @review.comment_to_admin %>


</div>
<% else %>
<div class="col-lg-4 well">
	<h5>Review this submission</h5>
	<hr>
	<%= form_for(@review) do |f| %>
	  <% if @review.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

	      <ul>
	      <% @review.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  <style type="text/css">
  .radio {display: inline-block; margin-right: 5px;}</style>
	  <div class="field">
	    <%= f.label :conservation_score %><br>
      <div class="radio"><label><%= f.radio_button :conservation_score, 0 %> 0 </label></div>
      <div class="radio"><label><%= f.radio_button :conservation_score, 1 %> 1 </label></div>
      <div class="radio"><label><%= f.radio_button :conservation_score, 2 %> 2 </label></div>
      <div class="radio"><label><%= f.radio_button :conservation_score, 3 %> 3 </label></div>
      <div class="radio"><label><%= f.radio_button :conservation_score, 4 %> 4 </label></div>
      <div class="radio"><label><%= f.radio_button :conservation_score, 5 %> 5 </label></div>


      <%# f.number_field :conservation_score, in: 0...6 %>
	  </div>
	  <div class="field">
	    <%= f.label :science_score %><br>
	    <div class="radio"><label><%= f.radio_button :science_score, 0 %> 0 </label></div>
      <div class="radio"><label><%= f.radio_button :science_score, 1 %> 1 </label></div>
      <div class="radio"><label><%= f.radio_button :science_score, 2 %> 2 </label></div>
      <div class="radio"><label><%= f.radio_button :science_score, 3 %> 3 </label></div>
      <div class="radio"><label><%= f.radio_button :science_score, 4 %> 4 </label></div>
      <div class="radio"><label><%= f.radio_button :science_score, 5 %> 5 </label></div>
	  </div>
	  <div class="field">
	    <%= f.label :visual_score %><br>
	    <div class="radio"><label><%= f.radio_button :visual_score, 0 %> 0 </label></div>
      <div class="radio"><label><%= f.radio_button :visual_score, 1 %> 1 </label></div>
      <div class="radio"><label><%= f.radio_button :visual_score, 2 %> 2 </label></div>
      <div class="radio"><label><%= f.radio_button :visual_score, 3 %> 3 </label></div>
      <div class="radio"><label><%= f.radio_button :visual_score, 4 %> 4 </label></div>
      <div class="radio"><label><%= f.radio_button :visual_score, 5 %> 5 </label></div>
	  </div>
	  <div class="field">
	    <%= f.label :recommendation %><br>
	    <%= f.select :recommendation, [['Not Acceptable as Talk or Poster','denied'],['Talk', 'talk'], ['Poster', 'poster'], ['Either Talk or Poster', 'either']] , :class=>'form-control selectorrr' %>
	  </div>
    <br><br>
	  <div class="field">
	    <%= f.label :comment_to_applicant %><br>
	    <%= f.text_area :comment_to_applicant %>
	  </div>
	  <div class="field">
	    <%= f.label :comment_to_admin %><br>
	    <%= f.text_area :comment_to_admin %>
	  </div>
	  <div class="field">
      <div class="checkbox">
                <label>
                  <%= f.check_box :finalized %>Finalise Review
                </label>
              </div>
	  </div>
	  <p>You have viewed this submission <%= @review.view_count %> times.</p>
	  <div class="actions">
	    <%= f.submit "Save Changes" %>
	  </div>
	<% end %>
<% end %>

</div>