<h1>Reviews Overview</h1>
<br>
<hr>
Links to : All Reviews / all reviewers / new reviewer
<hr>
<br>
<p>To view a review, click on the reviewer's name.</p>
<table id="" class="table table-striped table-hover table-bordered datatable">
	<thead>
		<th>Submission Title</th>
		<th>Applicant</th>
		<th>Reviewer 1</th>
		<th>Reviewer 2</th>
		<th>Reviewer 3</th>
	</thead>
	<tbody>
		<% @submissions.each do |s| %>
		<td><%= s.title %></td>
		<td><%= s.user.full_name %></td>
		<td><%= s.reviews[0].user.full_name unless s.reviews[0].nil? %><%= link_to "Assign", get_free_reviewers_path(s.id), :remote => 'true' if s.reviews[0].nil? %></td>
		<td><%= s.reviews[1].user.full_name unless s.reviews[1].nil? %><%= link_to "Assign", get_free_reviewers_path(s.id), :remote => 'true' if s.reviews[1].nil? %></td>
		<td><%= s.reviews[2].user.full_name unless s.reviews[2].nil? %><%= link_to "Assign", get_free_reviewers_path(s.id) if s.reviews[2].nil? %></td>
		<% end %>
	</tbody>
</table>