<!DOCTYPE html>
<html>
<head>
  <title>Powwow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>"  data-no-turbolink>
<!-- This is the layout for the public -->

<%= render 'layouts/mainmenu' %>

<%= yield %>

</body>
</html>
