<!DOCTYPE html>
<html>
<head>
  <title>Student Conference on Conservation Science - Bengaluru 2015</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <% if action_name == 'edit' or action_name == 'new' %>
  <%= tinymce_assets %>
  <% end %>
</head>
<body class="<%= controller_name %> <%= action_name %>"  data-no-turbolink>
<!-- This is the layout for the public -->
<%= render 'layouts/mainmenu' %>


<%= raw '<div class="container">' unless controller_name == 'home' %>

<%= yield %>

<%= raw '</div>' unless controller_name == 'home' %>

<footer>
<br><br><br><br>
<div class="container">
	<small>© SCCS Bengaluru 2015</small>
	<br><br>
</div>

</footer>

<% if action_name == 'edit' or action_name == 'new' %>
  <%= tinymce %>
  <% end %>

<% color_collection = ['#ff9800', '#4caf50'] %>
<% colors = color_collection.shuffle %>

<style>
  h1 {
    border-bottom-color: <%= colors[0] %>;
    color: <%= colors[0] %>;
  }

  h3, h4, h5 {
    border-bottom-color: <%= colors[1] %>;
    color: <%= colors[1] %>;    
  }
</style>

</body>
</html>
